
body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
    color: #6daffe;
    text-decoration: none;
    background-color: beige;
    display: flex;
    justify-content: space-around;
}

.namelogo{
    margin: none;
    padding-left: 15px;
    text-transform: uppercase;
    color: #6daffe;
    display: flex;
    justify-content: center;
}

.navlinks{
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
}

.namelogo a, .navlinks a{
    padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: flex;
}

.navlinks a:hover{
    color: #457cbe;
}

#iframecontainer{
    display: flex;
    justify-content: center;
}

#iframewhale{
    border: none;
    width: 100%;
    height: 300px;
}

@media screen and (min-width: 850px) {
    .navlinks{
        flex-direction: row;
        justify-content: space-around;
    }
    a{
        border-radius: 15%;
    }
}